{# templates/base.html.twig #}
<!DOCTYPE html>
<html class="h-full">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body class="h-full flex">
		{% set current_route = app.request.attributes.get('_route') %}
		{# define “active” flags for each menu group #}
		{% set customers_active = current_route starts with 'app_customer_' %}
		{% set cars_active      = current_route starts with 'app_car_'      %}
		{% set rentals_active   = current_route starts with 'app_rental_'   %}

		{% for type, messages in app.flashes %}
			{% for msg in messages %}
				<div class="mb-4 px-4 py-2 rounded absolute top-4 right-4
          {{ type == 'success' ? 'bg-green-500' : '' }}
          {{ type == 'warning' ? 'bg-yellow-500' : '' }}
          {{ type == 'error'   ? 'bg-red-500'   : '' }}
        ">
					{{ msg }}
				</div>
			{% endfor %}
		{% endfor %}

		<!-- Sidebar Navigation -->
		<aside class="bg-gray-500 text-white flex flex-col min-h-dvh">
			<div class="px-6 py-4 text-2xl font-bold border-b border-gray-300">
				<img src="{{ asset('uploads/logo.png') }}" width="150" alt="logo">
			</div>
			<nav class="flex-1 px-4 py-6 space-y-2">
				<a href="{{ path('app_customer_all') }}" class="block px-4 py-2 rounded mb-4 {{ customers_active ? 'border bg-white text-gray-500' : 'bg-gray-500 text-white' }}">
					Customers
				</a>
				<a href="{{ path('app_car_all') }}" class="block px-4 py-2 rounded mb-4 {{ cars_active ? 'border bg-white text-gray-500' : 'bg-gray-500 text-white' }}">
					Cars
				</a>
				<a href="{{ path('app_rental_all') }}" class="block px-4 py-2 rounded mb-4 {{ rentals_active ? 'border bg-white text-gray-500' : 'bg-gray-500 text-white' }}">
					Rentals
				</a>
			</nav>
		</aside>

		<!-- Main Content Area -->
		<div
			class="flex-1 flex flex-col">
			<!-- Header -->
			<header class="bg-white shadow">
				<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
					<h1 class="text-3xl font-bold text-gray-900">
						{% block header %}Welcome to Rent a Car
						{% endblock %}
					</h1>
				</div>
			</header>

			<!-- Main -->
			<main class="flex-1 overflow-y-auto py-4 px-4"> {% block body %}{% endblock %}
				</main>

				<!-- Footer -->
				<footer class="bg-white shadow mt-auto">
					<div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
						<p class="text-center text-gray-500 text-sm">© 2025 Mohammed EL MIMOUNI - CISI4GC - Supmti Oujda. All rights reserved.</p>
					</div>
				</footer>
			</div>
		</body>
	</html>
